/* CSS Document */
*
{
    margin: 0px;
    padding:0px;
}
.main
{
    height:1500px;
}
.container
{
 width:auto;
}
.wrapper
{
    width:1300px;
    margin:auto;
}
.dark
{
   background-color:#0000CC;
    color:white;
}
.light
{
 background-color:#000000;

}

#top_left
{

    text-align:left;
    display:inline-block;
    
}
#top_right
{
    float:right;
}
#top_div
{
    height:30px;
    line-height: 20px;
}
.sec_div
{
height:50px;
line-height: 20px;

}
#third_div
{

width:1366px;
height: 621px;    
margin-left:0px;
background-image:url(images/aaaa.png);
background-size: 100% 100%;
background-position:center;
}
.mains
{
height:500px;
}
.transbox
{
background:rgba(0,0,9,0.6);
width:100%;
height:90px;

float:top;
margin:0;
color:#fff;
padding:0px;

}
#menu ul{
  
}
#menu ul li
{
 top:30px; 
  width:156px;
  display:inline-block;
   height:35px;
    line-height: 35px;
    text-align: center;
  position:relative;
}
#menu ul li a{
    color:white;
    text-decoration: none;
    display:block;

}
#menu ul li a:hover
{
   
    color:blue;
}
#menu ul ul{
    position: absolute;
    display: none;
}
#menu ul li:hover > ul
{
    display: block;
     background-color: #31353d;
   
}
#logo_left
{
float:right;
margin-right:20px;
height:50px;
display:inline-block;
    
}

#logo_right
{
   
    float: right;
    top: 60px;
    margin-right:80px;
    line-height: 45px;
    text-align: center;
}
.button
{
    margin-top: 50px;
border-radius:9px;
font-family:'Oswald',sans-serif;
color:#036A81;
font-size:10px;
padding:5px 10px;
border:solid #036A81 1px;
text-transform:uppercase;
text-decoration:none;
}
.button:hover{
color:#fff;
border:solid #fff 3px;
}
#length
{
margin-left:-60px;
	alignment-adjust:left;
	text-align: center;
	position: absolute;
	top: 180px;
	float:left;
	button:fixed;
	left: 100px;
	width: 544px;
	border-right-width:thin;
}  
#length select
{
  
    padding: 10px;
    width: 200px;
    height:40px;
    border:none;
    font-size: 16px;
	background-attachment:scroll;
    background:rgba(0,64,128,0.2);
    
}
.btn
{
border-radius:8px;
font-family:'Oswald',sans-serif;
color:#666666;
font-size:20px;
padding:6px 12px;
border:solid #666666 2px;
text-transform:uppercase;
text-decoration:none;

}
#image
{
float:left;
margin-top:0px;
margin-left:30px;
}
.btn:hover{
color:#fff;
border:solid #fff 3px;
}
.login
{
top:80%;
left:50%;
width:320px;
height:400px;
tranform:translate(-50% -50%);
box-sizing:absolute;
color:#CCCCCC;
background-color:#000000;
padding:70px 30px;
margin:auto;
}
.top
{

width:100%;
height:60px;
}
.login input
{
border:0px;
background:none;

}
h2
{
    margin-top: -30px;
    margin-bottom: 20px;
text-align:center;
color:#FFFFFF
}
.login p
{
    margin-bottom: 15px;
font-weight:bold;
color:#FFFFFF;

}
.login input
{
    margin-bottom: 20px;
width:100%;
}
.login input[type="text"],.login input[type="number"],.login input[type="email"],.login input[type="date"],.login input[type="password"]
{
  margin-bottom: 20px;
border:none;
border-bottom:1px solid #FFFFFF;
background:transparent;
color:#FFFFFF;
font-size:16px;
}
::placeholder
{
color:rgba(255,255,255,.5);
}
.login input[type="submit"]
{
border:none;
outline:none;
height:40px;
font-size:18px;
cursor:pointer;
border-radius:20px;
background-color: #0033FF;
color:#FFFFFF;
}
.starter
{
   
width:100%;
}

