*
{
    margin: 0px;
    padding:0px;
}
.main
{
    height:1500px;
}
.container
{
 width:auto;
}
.wrapper
{
    width:1300px;
    margin:auto;
}
.dark
{
   background-color:#0000CC;
    color:white;
}
.light
{
 background-color:#000000;

}

#top_left
{

    text-align:left;
    display:inline-block;
    
}
#top_right
{
    float:right;
}
#top_div
{
    height:30px;
    line-height: 20px;
}
.sec_div
{
height:50px;
line-height: 20px;

}
#third_div
{

width:1400px;
height: 400px;
margin-left:0px;
background-image:url(im.jpg);
background-size: 100% 100%;
background-position:center;
}
#se{
    width:1400px;
margin-left:0px;
background-size: 100% 100%;
background-position:center;
}
.mains
{
height:500px;
}
.transbox
{
background:rgba(0,0,9,0.6);
width:100%;
height:90px;

float:top;
margin:0;
color:#fff;
padding:0px;

}
#menu ul{

}
#menu ul li
{
 top:20px; 
  width:156px;
  display: inline-block;
   height:35px;
    line-height: 35px;
    text-align: center;
  position:relative;
}
#menu ul li a{
    color:white;
   text-decoration: none;
    

}
#menu ul li a:hover
{
    
    color:blue;
}
#menu ul ul{
    position: absolute;
    display: none;
}
#menu ul li:hover > ul
{
}
#logo_left
{
float:right;
margin-right:20px;
height:50px;
display:inline-block;
    
}
.ssr{
  margin-top:450px;
    
    
}
h3{
    margin-left:20px;
    color:#0000CC;
    
        
}
.sst{
    margin-top: 400px;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 29, 2019, 1:52:05 AM
    Author     : raju
*/

